.event {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 200px;
}

.event .inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 60px;
}

/* 이미지 컨테이너 스타일 */
.image-container {
  position: relative;
  display: block;
}

/* 이미지 스타일 */
.image-container img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

/* 이벤트 폼 스타일 */
.event-wrap{
  position: relative;
  display: block;
}
.event-form {
  position: absolute;
  bottom: 70px;
  right: 150px;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
}

/* 성함과 번호 입력 영역 */

.name-flex, .phone-flex {
  display: flex;
  align-items: center; /* 레이블과 입력 필드 수평 정렬 */
  margin-bottom: 15px; /* 레이블과 입력 필드 그룹 사이의 간격 */
}

.name-flex label, .phone-flex label {
  width: 80px; /* 레이블의 고정된 너비 */
  margin-right: 20px; /* 레이블과 입력 필드 사이의 간격 */
  font-size: 26px;
  font-weight: bold;
  color: #333;
  text-align: left; /* 레이블 텍스트 정렬 */
}

.event-form input {
  flex: 1; /* 입력 필드가 남은 공간을 차지하도록 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  min-width: 350px;
  width: 100%;
}

/* 버튼 스타일 */
.event-form button {
  margin-top: 30px;
  max-width: 240px;
  width: 100%;
  padding: 10px;
  background-color: #dec6a1;
  border: none;
  border-radius: 70px;
  color: black;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.submitbtn{
   display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px; 
}
.event-form button:hover {
  background-color: #dfb371;
}

.success-message {
  display: none;
  text-align: center;
  color: green;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 90px;
}
.submitwrap{
  display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;
}
