@charset "utf-8";
.footer{
    width: 1920px;
    width: 100%;
    height: 454px;
    background-color: #303030;
}
.footer .inner{
    width: 100%;
    max-width: 1300px;
    display: block;
    position: relative;
    margin: 80px auto;
}
.footer_top{
    position: relative;
    display: block;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
.ft_sns a{
padding-right: 15px;
}
/* 푸터 하단 좌측 */
.ft_left{
    display: block;
    position: relative;
    padding-top: 80px;
}
.ft_left li a{
    font-size: 14px;
    color: #A5A5A5;
}
.ft_lefttxt1{

position: absolute;
width: 120px;
left: 0px;
top: 80px;
font-size: 14px;
line-height: 30px;
}
.ft_lefttxt2{
position: absolute;
width: 90px;
left: 150px;
top: 80px;
font-size: 14px;
line-height: 30px;
}
.ft_lefttxt1 li a{
    text-decoration: none;
}
.ft_lefttxt2 li a{
    text-decoration: none;
}
.ft_lefttxt1 li:nth-child(4){
    text-decoration: underline;
    color: #A5A5A5;
}
/* 푸터 하단 우측 */
.ft_right{
    display: block;
    position: relative;
}
.ft_right_txt p{
font-size: 14px;
color: #A5A5A5;
text-align: right;
line-height: 36px;
}
.ft_right_txt a{
    color: #A5A5A5;
    text-decoration: none;
}
.ft_right_txt .check{
    text-decoration: underline;
    color: #A5A5A5;
}


/* ft_right_txt2 */



