@charset "utf-8";
.footer {
  width: 100%;
  height: 100%;
  background-color: #303030;
  display: block;
}
.footer .inner {
  width: 100%;
  max-width: 1300px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 120px;
}
.footer_top {
  position: relative;
  display: block;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.ft_sns a {
  padding-right: 15px;
}
.ft_sns {
  display: flex;
}
/* 푸터 하단 좌측 */
.footer_bot {
  display: flex;
  justify-content: space-between;
}
.ft_left {
  width: 45%;
  max-width: 100%;
  display: flex;
  gap: 40px;
  padding-top: 80px;
}
.ft_left li a {
  font-size: 14px;
  color: #a5a5a5;
}
.ft_lefttxt1 {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* width: 120px;
left: 0px;
top: 80px;
font-size: 14px;*/
  line-height: 30px;
}
.ft_lefttxt2 {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  /* position: absolute; */
  /* width: 90px;
left: 150px;
top: 80px;
font-size: 14px;
 */
}
.ft_lefttxt1 li a {
  text-decoration: none;
}
.ft_lefttxt2 li a {
  text-decoration: none;
}
.ft_lefttxt1 li:nth-child(4) {
  text-decoration: underline;
  color: #a5a5a5;
}
/* 푸터 하단 우측 */
.ft_right {
  display: block;
  position: relative;
  padding-top: 80px;
  width: 100%;
  max-width: 100%;
}
.ft_right_txt1 {
  font-size: 14px;
  color: #a5a5a5;
  text-align: right;
  line-height: 40px;
  width: 100%;
  max-width: 100%;
}
.ft_right_txt a {
  color: #a5a5a5;
  text-decoration: none;
}
.ft_right_txt .check {
  text-decoration: underline;
  color: #a5a5a5;
}

.ft_right_txt2 {
  font-size: 14px;
  color: #8a8a8a;
  text-align: right;
  line-height: 40px;
}
.ft_right_copyright {
  font-size: 14px;
  color: #8a8a8a;
  text-align: right;
  line-height: 60px;
}
span.check a{
  color: #a5a5a5;
  text-decoration: underline;
}

/* footer - 768 */

.footer-tab {
  display: none;
  width: 100%;
  height: auto;
  background-color: #303030;
}
.footer-tab .inner {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.footer-tab-top a img {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-tabtxt {
  display: block;
  position: relative;
  width: 100%;
}

.footer-tabtxt1 ul,
.footer-tabtxt2 ul {
  display: flex; /* 가로로 배치 */
  justify-content: space-evenly;
  /* gap: 20px; 리스트 항목 간의 간격 조정, 필요에 따라 조절 가능 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
  list-style: none; /* 리스트 스타일 제거 */
  line-height: 60px;
}

.footer-tabtxt1 li,
.footer-tabtxt2 li {
  margin: 0; /* 리스트 항목의 기본 마진 제거 */
  font-size: 14px;
  color: #a5a5a5;
}
.footer-tab-bot {
  font-size: 14px;
  text-align: center;
  padding-top: 45px;
}
.footer-tab-bottxt1 {
  line-height: 35px;
}
.footer-tab-bottxt span {
  color: #8a8a8a;
}
.footer-tab-bottxt1,
.footer-tab-bottxt2 {
  color: #a5a5a5;
}
.footer-tab-bottxt2 {
  padding-top: 18px;
}

.footer-tab-botcopy {
  padding-top: 50px;
  color: #8a8a8a;
}
.ft_tab_sns {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}
li.under{
  text-decoration: underline;
  color: #a5a5a5;
}
@media (max-width: 768px) {
  span.check a{
    color: #a5a5a5;
    text-decoration: underline;
    font-size: 14px;
  }
  
  .footer {
    display: none;
  }
  .footer-tab {
    display: block;
  }
  .footer-320txt1,
  .footer-320txt2 {
    display: none;
  }
  .footer-320-bottxt1,
  .footer-320-bottxt2,
  .footer-320-botcopy {
    display: none;
  }
  .footer-320txt {
    display: none;
  }
  .ft_tab_sns {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
  }
  .ft_320_sns {
    display: none;
  }
}
@media (max-width: 425px) {
  .footer-tab-bot {
    display: none;
  }
  .ft_tab_sns {
    display: none;
  }
  .footer-tabtxt {
    display: none;
  }
  .footer-tab-bottxt1,
  .footer-tab-bottxt2,
  .footer-tab-botcopy {
    display: none;
  }
  .footer-320txt {
    display: block;
  }

  .footer-320txt1,
  .footer-320txt2 {
    display: block;
  }
  .footer-320-bottxt1 {
    display: block;
  }
  .footer-320-bot {
    display: block;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .footer-320-bottxt2 {
    display: block;
    color: #a5a5a5;
    line-height: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-320-bottxt1 {
    color: #a5a5a5;
    line-height: 20px;
  }
  .footer-320-date,
  .footer-320-botcopy {
    color: #8a8a8a;
    display: block;
  }
  .footer-tab-top {
    padding-left: 20px;
    display: flex;
  }
  .footer-tab-top a img {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-320txt {
    font-size: 12px;
    display: flex;
  }
  .footer-320txt ul {
    padding-left: 20px;
    margin: 0;
    list-style: none;
    line-height: 40px;
  }
  .footer-320txt1 ul {
    display: flex;
    flex-direction: column;
  }
  .footer-320txt2 ul {
    display: flex;
    flex-direction: column;
  }
  .footer-320txt ul li {
    font-size: 12px;
    color: #a5a5a5;
  }

  .ft_320_sns {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
  }
  span.check a{
    color: #a5a5a5;
    text-decoration: underline;
    font-size: 10px;
  }
  
}

@media (max-width: 320px) {
  /* 사업자정보확인 링크 스타일 적용 */
  span.check a{
    color: #a5a5a5;
    text-decoration: underline;
    font-size: 10px;
  }
  
  .footer-tab-bot {
    display: none;
  }
  .ft_tab_sns {
    display: none;
  }
  .footer-tabtxt {
    display: none;
  }
  .footer-tab-bottxt1,
  .footer-tab-bottxt2,
  .footer-tab-botcopy {
    display: none;
  }
  .footer-320txt {
    display: block;
  }

  .footer-320txt1,
  .footer-320txt2 {
    display: block;
  }
  .footer-320-bottxt1 {
    display: block;
  }
  .footer-320-bot {
    display: block;
    font-size: 10px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .footer-320-bottxt2 {
    display: block;
    color: #a5a5a5;
    line-height: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-320-bottxt1 {
    color: #a5a5a5;
    line-height: 20px;
  }
  .footer-320-date,
  .footer-320-botcopy {
    color: #8a8a8a;
    display: block;
  }
  .footer-tab-top {
    padding-left: 20px;
    display: flex;
  }
  .footer-tab-top a img {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .footer-320txt {
    font-size: 12px;
    display: flex;
  }
  .footer-320txt ul {
    padding-left: 20px;
    margin: 0;
    list-style: none;
    line-height: 40px;
  }
  .footer-320txt1 ul {
    display: flex;
    flex-direction: column;
  }
  .footer-320txt2 ul {
    display: flex;
    flex-direction: column;
  }
  .footer-320txt ul li {
    font-size: 12px;
    color: #a5a5a5;
  }

  .ft_320_sns {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
  }
  
}
