@charset "utf-8";
/* 영역별 css */
@import url(header.css);
@import url(main_video.css);
@import url(introduction.css);
@import url(review.css);
@import url(footer.css);
/* 폰트 */
/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: "Inter", sans-serif;
}
/* 탑버튼 */
.cs-btn{
    position: fixed;
    bottom: 80px;
    right: 25px;
    z-index: 99;
    cursor: pointer;
}
.cs-btn-kakao{
    position: fixed;
    bottom: 88px;
    right: 29px;
    z-index: 98;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
}
.cs-btn-naver{
    position: fixed;
    bottom: 88px;
    right: 29px;
    z-index: 98;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
}
.cs-btn-kakao.show{
    opacity: 1;
    transform: translateX(-60px);
}
.cs-btn-naver.show{
    opacity: 1;
    transform: translateX(-120px);
}
.top-btn{
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 99;
    cursor: pointer;
}

