@charset "utf-8";

* {
    box-sizing: border-box;
}

/* 전체 / 큰 레이아웃 */
.pp-descriptions {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.pp-det-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp-det-bg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pp-det-inner {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 15%;
}
/* 서브타이틀 관련 */
.pp-det-txtwrap{
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
/* 갤러리 아이템 확대 */
.gallery li.open {
    flex: 3;
    transition: flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}

/* 텍스트 아이템 확대 */
.open-text {
    font-size: 2em;
    font-weight: bold;
    transition: font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    margin-bottom: 30px;
}

/* 나머지 텍스트 아이템 축소 */
.shrink-text {
    font-size: 0.8em;
    transition: font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
    opacity: 0.5;  /* 선택 사항: 축소된 텍스트의 불투명도 조정 */
}

.pp-det-title{
    position: relative;
    width: 100%;
    color: #fff;
    text-align: center;
    /* background-color: aquamarine; */
    margin-top: 150px;
    margin-bottom: 150px;
    line-height: 1.3;
}
.pp-det-title-top{
    font-size: 40px;
}
.pp-det-title-mid{
    font-size: 60px;
    font-weight: bold;
}
.pp-det-title-bt{
    font-size: 20px;
}
.pp-det-imgwrap {
    display: flex;
    flex-direction: column;
}
.sec1-title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}

.sec2-title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 100px;
}


/* 갤러리 */
.gallery {
    width: 100%;
    height: 600px;
    display: flex;
}
.gallery img{
    width: 90%;
    height: 600px;
}
.gallery li {
    flex: 1;
    border: 1px solid #333;
    transition: all 0.5s ease; /* 애니메이션 추가 */
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    /* GIF 이미지 애니메이션 멈추기 */
    background-repeat: no-repeat;
}

.gallery li:hover {
    flex: 3;
}

.contants {
    position: absolute;
    bottom: -310px;
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 150px;
    padding: 20px;
    padding-top: 55px;
    line-height: 1.6;
    transition: bottom 0.5s ease-in-out;
    opacity: 0.8;
}

.gallery li:hover .contants {
    bottom: 0;
}

.contants::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 55px;
    top: -20px;
    left: 0;
    transform: rotate(-5deg) scale(1.3);
}

.contants h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contants p {
    font-size: 25px;
    margin-bottom: 10px;
}
/* 애니메이션 멈춤과 투명도 조절 */
.gallery li.paused {
    opacity: 0.5; /* 투명도 줄이기 */
}

.gallery li.paused img {
    animation-play-state: paused; /* 애니메이션 멈춤 */
}

/* 호버 시 텍스트 컨텐츠 확대 및 표시 */
.gallery li:hover .contants {
    bottom: 0;
    font-size: 2em; /* 폰트 크기 확대 */
    opacity: 0.8; /* 완전 불투명 */
}