@charset "utf-8";

.pp-det-inner {
    color: rgb(255, 255, 255);
}

.pp-descriptions {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.pp-det-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp-det-bg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pp-det-inner {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.pp-det-imgwrap {
    display: flex;
    flex-direction: column;
}

.img-sec1, .img-sec2 {
    display: flex;
    width: 100%;
    height: 400px; /* 높이는 원하는 대로 조정하세요 */
}

.img-sec1 div, .img-sec2 div {
    flex: 1;
    border: 1px solid #333;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.img-sec1 div:hover, .img-sec2 div:hover {
    flex: 3;
}

.sec1-img1 {
    background: url(../images/1-1.gif) no-repeat center center;
    background-size: cover;
}

.sec1-img2 {
    background: url(../images/1-2.gif) no-repeat center center;
    background-size: cover;
}

.sec1-img3 {
    background: url(../images/1-3.gif) no-repeat center center;
    background-size: cover;
}

.sec1-img4 {
    background: url(../images/1-4.gif) no-repeat center center;
    background-size: cover;
}

.sec1-img5 {
    background: url(../images/1-5.gif) no-repeat center center;
    background-size: cover;
}

.sec2-img1 {
    background: url(../images/2-1.gif) no-repeat center center;
    background-size: cover;
}

.sec2-img2 {
    background: url(../images/2-2.gif) no-repeat center center;
    background-size: cover;
}

.sec2-img3 {
    background: url(../images/2-3.gif) no-repeat center center;
    background-size: cover;
}

.sec2-img4 {
    background: url(../images/2-4.gif) no-repeat center center;
    background-size: cover;
}

.sec2-img5 {
    background: url(../images/2-5.gif) no-repeat center center;
    background-size: cover;
}

/* sub_txt 스타일 수정 */
.sec1-sub-txt, .sec2-sub-txt {
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 텍스트 배경 투명도 */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    z-index: 2; /* 텍스트가 이미지 위에 오도록 */
    transition: top 0.5s ease-in-out;
}

/* 이미지 위 텍스트 정보 스타일링 */
.img-txt-info1, .img-txt-info2, .img-txt-info3, .img-txt-info4, .img-txt-info5 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.sec1-img1:hover .img-txt-info1, 
.sec1-img2:hover .img-txt-info2, 
.sec1-img3:hover .img-txt-info3, 
.sec1-img4:hover .img-txt-info4, 
.sec1-img5:hover .img-txt-info5,
.sec2-img1:hover .img-txt-info1, 
.sec2-img2:hover .img-txt-info2, 
.sec2-img3:hover .img-txt-info3, 
.sec2-img4:hover .img-txt-info4, 
.sec2-img5:hover .img-txt-info5 {
    opacity: 1;
}
