@charset "utf-8";
/* sec1 ,copy */
/* 공통 스타일 */
* {
  margin: 0; /* 모든 요소의 기본 마진을 0으로 설정 */
  padding: 0; /* 모든 요소의 기본 패딩을 0으로 설정 */
  box-sizing: border-box; /* 요소의 패딩과 테두리를 너비와 높이에 포함시킴 */
}
body {
  font-family: "Noto Sans KR", sans-serif !important;
}
.detail-tab{
    margin: 100px auto;
    width: 90%;
    max-width: 600px;
    height: 60px;
    display: flex;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 15px 0;
}
.detail-tab li{
    flex: 1;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #999;
}
.detail-tab li a{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #999;
}
.detail-tab li:first-child{
    border-right: 1px solid #999;
}
.detail-tab li.active a{
    color: #111;
    font-weight: 500;
}
.description{
    position: relative;
    height: 800px;
    /* height: inherit; */
    overflow: hidden;
    /* display: none; */
}
.desc-img-wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 860px;
}
.desc-img-wrap img{
    width: 100%;
}
.description.open{
    overflow: visible;
    height: inherit;
}
.closeBtn{
    display: block;
    width: 80%;
    max-width: 400px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 20px;
    margin: 50px auto;
}
.desc-open-btn{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    /* padding: 15px 80px; */
    width: 80%;
    max-width: 400px;
    height: 70px;
    background-color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 20px;
}
.btn-wrap{
    width: 100%;
    max-width: 860px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn-wrap::after{
    content: "";
    position: absolute;
    width: 860px;
    height: 300px;
    bottom: 99%;
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
@media screen and (max-width:500px) {
    
}