@charset "utf-8";

.header{
    width: 100%;
    height: 5vw;
    position: relative;
    background-color: #fff;
}
.logo{
    display: flex;
    justify-content: center;
    height: 100%;
}
.logo img{
    height: 100%;
    transform: scale(2);
}