@charset "utf-8";

.header{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #fff;
}
.logo{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10%;
    margin: 0 auto;
}
.logo img{
    height: 100%;
    transform: scale(0.4);
}
@media screen and (max-width: 930px) {
    .header{
        height: 70px;
    }
    .logo img{
        min-height: 30px;
    }
}