@charset "utf-8";
.sec3 {
  width: 1920px;
  width: 100%;
  background-color: #272d3b;
}
.sec3 .inner {
  width: 100%;
  max-width: 1300px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 100px;
}
.sec3-main {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.sec3-right-txt {
  display: flex;
}
.sec3-left h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}
.sec3-left img {
  width: 100%;
  max-width: 521px;
  max-height: 326px;
  padding-right: 30px;
  /* 트랜지션 추가 */
  transition: transform 1s ease-in-out;
  transform: translateY(0); /* 기본 위치 */
}
.sec3-right h1 {
  padding-top: 100px;
}
.sec3-right-txt {
  padding-top: 50px;
}
.sec3-right-txt1 li,
.sec3-right-txt1 span {
  font-size: 15px;
  color: #fff;
}
.sec3-main h1 {
  font-size: 20px;
  font-weight: bold;
}
.sec3-left p {
  font-size: 15px;
}
.sec3-right-txt li {
  padding-bottom: 25px;
  line-height: 20px;
}
.sec3-right-txt1 {
  padding-right: 67px;
}
.sec3-right-txt .lighter {
  font-weight: 300;
  color: #d9d9d9;
}
.sec3-right-txt .bold {
  font-weight: bold;
  color: #fff;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
    .sec3 .inner{
        padding-bottom: 40px;
    }
    .sec3-left h1 {
        font-size: 15px;
        padding-top: 60px;
    }
    .sec3-left p {
        font-size: 10px;
    }
    .sec3-right h1 {
        font-size: 15px;
        padding-top: 60px;
    }
    .sec3-right-txt ul li {
        font-size: 10px;
        padding-bottom: 10px;
    }
    .sec3-right-txt ul li span {
        font-size: 10px;
    }
    .sec3-right-txt1 {
        padding-right: 40px;
    }
    .sec3-left img {
        max-width: 248px;
        width: 100%;
        padding-top: 28px;
        
        /* 미디어 쿼리에서 이미지 위치를 서서히 이동 */
        transform: translateY(20px);
    }
}

@media screen and (max-width: 480px) {
    .sec3-left img {
        max-width: 200px;
        transform: translateY(40px); /* 더 아래로 이동 */
    }
}
