@charset "utf-8";
.sec3 {
  width: 1920px;
  width: 100%;
  background-color: #272d3b;
}
.sec3 .inner {
  width: 100%;
  max-width: 1300px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 100px;
}
.sec3-main {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.sec3-right-txt {
  display: flex;
}
.sec3-left h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}
.sec3-left img {
  width: 100%;
  max-width: 521px;
  max-height: 326px;
  padding-right: 30px;
  padding-top: 50px;
}
.sec3-right h1 {
  padding-top: 100px;
}
.sec3-right-txt {
  padding-top: 50px;
}
.sec3-right-txt1 li,
.sec3-right-txt1 span {
  font-size: 15px;
  color: #fff;
}
.sec3-main h1 {
  font-size: 20px;
  font-weight: bold;
}
.sec3-left p {
  font-size: 15px;
}
.sec3-right-txt li {
  padding-bottom: 25px;
  line-height: 20px;
}
.sec3-right-txt1 {
  padding-right: 67px;
}
.sec3-right-txt .lighter {
  font-weight: 300;
  color: #d9d9d9;
}
.sec3-right-txt .bold {
  font-weight: bold;
  color: #fff;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
  .sec3-left{
    
    text-align: center;
  }
  .sec3 .inner {
    padding-bottom: 40px;
  }
  .sec3-left h1 {
    font-size: 15px;
    padding-top: 60px;
  }
  .sec3-left p {
    font-size: 10px;
  }
  .sec3-right h1 {
    font-size: 15px;
    padding-top: 60px;
  }
  .sec3-right-txt ul li {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .sec3-right-txt ul li span {
    font-size: 10px;
  }
  .sec3-right-txt1 {
    padding-right: 40px;
  }
  .sec3-left img {
    max-width: 300px;
    width: 100%;
    padding-top: 60px;
    padding-left: 50px;
  }
  .sec3-right h1{
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .sec3-left{
    text-align: center;
  }
 .sec3-main{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .sec3-left img{
    padding: 0;
    max-width: 251px;
    width: 100%;
    padding-top: 20px;
  }
  .sec3-right h1{
    text-align: center;
    padding-bottom: 0px;
  }
  .sec3-right-txt{
    padding-top: 30px;
  }
  .sec3-left h1 {
        font-size: 15px;
        padding-top: 40px;
    }
}
@media screen and (max-width: 320px){
  .sec3-main{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .sec3-left img{
    padding: 0;
    max-width: 251px;
    width: 100%;
  }

  
}
