@charset "utf-8";
/* detail */
.det2{
    background-color: #fff;
}
.det2 .inner{
    width: 100%;
 max-width: 1300px;
 display: block;
 position: relative;
 margin: 0 auto;
 padding-top: 120px;
 padding-bottom: 120px;
}
.det2-top{
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   line-height: 70px;
}
/*섹션2 메인 */
.det2-main{
   margin-top: 100px;
   display: block;
   position: relative;
}


.det2-main {
 display: flex;
 flex-wrap: wrap;
}

.det2-main > div {
 flex: 1; /* 모든 자식 요소가 같은 비율로 공간을 차지함 */
 min-width: 25%; /* 각 구역이 최소 25% 넓이 유지 */
 box-sizing: border-box; /* 패딩과 보더 포함한 크기 계산 */
 padding: 50px; /* 구역 간의 간격 추가 */
 
}
.det2-main1-2{
   margin-top: 100px;
}
.det2-main2-2{
   margin-top: 100px;
}
.det2-main1-1, .det2-main1-2, .det2-main2-1, .det2-main2-2{
   display: flex;
   justify-content: space-between;
   
   
}
.det2-main .test1, .det2-main .test2, .det2-main .test4{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   
}

.det2-main .small{
   font-size: 30px;
   color: #000;
}
/* .test1,.test3{
   padding-left: 100px;
   padding-right: 100px;
} */
.test1 span, .test2 span{
   font-size: 20px;
   color: #000;
}
.test3 span{
   font-size: 40px;
   color: #000;
   font-weight: bold;
}
.test4 span{
   font-size: 30px;
   font-weight: bold;
   color: #000;
}
.det2-main .big{
   font-size: 80px;
   font-weight: bold;
}