@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.review {
  width: 100%;
}

.review_title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.review_title img {
  width: 50%;
  text-align: center;
}

.review_bg {
  display: flex; /* Flexbox 사용 */
  justify-content: space-between; /* 아이템 간 간격 균등하게 */
  align-items: center; /* 세로 중앙 정렬 */
  margin: 0 auto;
  width: 1300px;
  height: 650px;
  background-color: #EDE6DB;
  padding: 20px; /* 패딩 추가 */
}

.review_item {
  width: 30%; /* 각 리뷰 이미지 너비 */
  height: auto;
  display: flex;
  justify-content: center; /* 아이템을 가운데로 정렬 */
}

.review_item img {
  width: 100%; /* 컨테이너에 맞게 이미지 크기 조정 */
  height: 100%;
}

/* 반응형 스타일 */
@media (max-width: 1024px) {
  .review_bg {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .review_item {
    width: 100%;
    margin-bottom: 20px;
  }
}
