@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.review {
  width: 100%;
}

.review_inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.review_title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; /* 제목과 배경 사이의 여백 설정 */
}

.review_title img {
  width: 50%;
  text-align: center;
}

.review_bg {
  position: relative; /* 아이템들을 배경 안에 배치하기 위한 relative 설정 */
  width: 100%;
  max-width: 1300px; /* 최대 너비 설정 */
  height: 650px; /* 고정 높이 설정 */
  background: #EDE6DB; /* 배경 색상 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  overflow: hidden; /* 내부 요소가 컨테이너를 넘지 않도록 설정 */
}

.review_item {
  position: relative;
  width: 100%; /* 아이템 너비 설정 */
  height: auto; /* 높이 자동 조정 */
  display: flex;
  justify-content: center;

}
#review_item1{
  padding-top: 20px;
}

.review_item img {
  margin-top: 10px;
  width: 90%; /* 아이템 이미지 크기 조정 */
  height: auto; /* 비율 유지 */
}


